// @keyframes {
//   0% {
//     width
//   }
// }

.cssTransition-demo {
  width: 500px;
  margin: 30px auto;

  .box {
    height: 50px;
    border: 2px solid transparent;
    // width: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #cfe2ff;
  }



  .my-appear {
    width: 0;
  }

  .my-appear-active{
    width: 50px;
  }

  .my-appear-done{
    width: 50px;
  }

  .my-enter  {
    width: 50px;
  }

  .my-enter-active{
    width: 200px;
  }

  .my-enter-done {
    width: 500px;
  }

  .my-exit {
    width: 500px;
  }
  
  .my-exit-active {
    width: 200px;
  }
  .my-exit-done {
    width: 0px;
  }
}